.afterfilter-section{
    background-color: black;
    padding: 100px;
}
.afterfilter-section h1{
    text-align: start;
    margin-bottom:20px;
}
.afterfilter-section h1::after{
    left: 40px;

}
.afterfilter-section h1 span{
    color: white;
}
.afterfilter-section p{
    color: #f5f5f5;
    margin-top:30px;
}
.genre-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}