.navbar {
  background-color: transparent !important;
  position: absolute;
  width: 100%;
  z-index: 10; 
   top: 0;
  left: 0;
}
.navbar h1{
    font-size: 20px;
    font-family: "Protest Riot", sans-serif;
  font-weight: 400;
}


.nav-links{
    margin-left:200px;
    gap:30px;
}
.nav-links .nav-link {
  font-size:15px; 
  font-family: "Protest Riot", sans-serif;
  font-weight:300;
  border-radius: 5px;
  color: #fff;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

 .nav-link.active{
    background-color: #EBFFD8;
  margin: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
 .nav-link:hover{
    background-color: #EBFFD8;
    color: #000;
    padding: 8px 10px !important;


}




