.showMovies-section{
    background-color:#000;
    padding-top: 20px;
    color: #fff;
    
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 300px;
  object-fit: cover;

}
.movie-description{
      border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
    background-color:#dfe3ef;
    color: #000;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.showMovies-section h3{
    font-size:25px;
    font-family: "Protest Riot", sans-serif;

}
.showMovies-section h4{
    font-size:15px;
    font-family: "Protest Riot", sans-serif;
    color:rgb(53, 52, 52);

}
.movie-description span{
    margin-left:200px;
    font-size: 18px;
}
.movie-description span i{
    color: rgb(114, 106, 164);

}